  {% extends "base.html" %}
{% block main %}



  <div
    class=" w-full flex justify-center items-center max-w-md rounded-lg  drop-shadow-mid-g hover:drop-shadow-3xl-g text-white  bg-[#24242c]">
    
    <ul class="w-full">
      <li
        class="w-full border-b-2 text-center border-dotted  border-[#01c496] border-opacity-100 px-4 py-3 dark:border-opacity-50">
        Anuj Goyal
      </li><li
      class="w-full border-b-2 text-center border-dotted border-[#01c496] border-opacity-100 px-4 py-3 dark:border-opacity-50">
      Ayush Shrivastava
    </li>
      <li
        class="w-full border-b-2 text-center border-dotted border-[#01c496] border-opacity-100 px-4 py-3 dark:border-opacity-50">
        Satyam Verma
      </li>
      <li       class="w-full border-b-2 text-center  border-[#01c496] border-opacity-100 px-4 py-3 dark:border-opacity-50">

  Silky     </li>
    </ul>
  </div>






{% endblock main %}








